ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__main {
  margin-bottom: 0;
}

.nav__item {
  background: #577396;
}

.nav__item.active {
  background: #003D66;
  position: relative;
}

.nav__item.active::after {
  content: '';
  position: absolute;
  border: solid 10px transparent;
	border-top: solid 0px transparent;
	border-width: 10px;
  top: 55px;
	left: 50%;
	margin-left: -10px;
	border-color: #003D66 transparent transparent transparent;
}

.form__flightHotel {
  padding: 24px 15px;
  position: relative;
}

.form-row {
  margin: 0;
}

.form-control,
.custom-select {
  border-radius: 1px;
  height: 40px;
}

#passengersAdults,
#passengersChildren {
  background: url(../assets/Profile.svg) .5rem center / 20px no-repeat transparent;
  padding-left: 35px;
}

.select__childAge {
  height: 30px;
}

.btn {
  background: #D9B049;
  border-radius: 0;
  width: 80%;
}



@media (min-width: 768px) {
  .btn__desktop {
    width: 100%;
    padding: .5rem 5rem;
  }

  .btn__container {
    position: absolute;
    right: 20px;
    bottom: 24px;
  }
}